<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<h1><b>Project Analysis</b></h1>
<style>
    h1 {
        text-align: center;
    }
</style>
</head>
<body style="background-color:skyblue">
<h3>Business Questions</h3>
<p style="font-size: 22px;">
    * Ques: Under Which IUCN Red List status categories the number of species fall? ​
    Are any species already extinct or are on verge of extinction?​ <br>
    <br>
    * Ques: Suppose Wildlife department has a budget of $100MM to save the near threatened and vulnerable amphibians from extinction? How should the <br> budget be split to ensure there is enough funds to support all amphibians? <br>
    <br>
    * Ques: Which family of amphibians comprises maximum number of  species?
</p>
<center><img src="/static/basics_scatterplots_matplotlib_python.jpg" alt="matplot" width="200" height="100"></center>
<h3>Visualizations</h3>
<center>
    <img src="/static/bargraph.jpg" alt="python" width="500" height="250">
    <img src="/static/piechart1.jpg" alt="python" width="500" height="250">
    <img src="/static/piechart2.jpg" alt="python" width="500" height="250">
</center>
<h3>Analysis Findings</h3>
<p style="font-size: 22px;">
    * From Barchart and IUCN red list piechart, it’s clear that majority of the amphibian species comes under the LeastConcern status i.e. 105 species.​
<br>
<br>
    * But it can’t be overlooked that 55 ambhibian species are already Enderdangered or are vulnerable and near threatened.​
<br>
<br>
    * 1 Amphibian species named ‘Plethodon Ainsworthi’ is already extinct means that they are no longer part of this biodiversity and other species named ‘Anaxyrus Baxteri’ is extinct in the wild.​
<br>
<br>
    * From Amphibians Families piechart, it’s visible that maximum amphibian species belongs to the ‘Plethodontidae’ and ‘Bufonidae’ families which is 55% of the total species.​
</p>
<center><img src="/static/frog.jpg" alt="frog" width="200" height="100"></center>
<h3>Conclusion</h3>
<p style="font-size: 22px;">
    As per the analysis results, WildLife Department should spend $100MM to protect amphibians accordingly as:​
<br>
<br>
    * $33MM -> Least Concern species as they are majority in number and to plan for better facilities. ​
<br>
<br>
    * $22MM -> Vulnerable species​
<br>
<br>
    * $44MM -> Endangered, Near Threatened and Extinct in the Wild species as they are most exposed to the verge of extinction in the future.
</p>
<p align="center"><a href=home><button style="height:75px;width:150px">Home</button></a></p>
<style>
    p {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
</style>
</body>
</html>